h1 {
	font-size: 55px;
	color:white;
}
.navbar-brand{
	font-family: 'Arvo', serif;
}
.btn-blend{
	background-color: #F8F8F8;
	border-color: #F8F8F8;
	color:#777;
}
.btn-large{
	width: 200px;
	color:black;
}
body{
	background-color:#333333
}
.button-wrapper{
	height: 200px;
	margin-top: 20px;
	
	
}
.action-button{
	height: 150px;
	border-radius: 7px;
	font-size: 23px;
}

.action-button :hover{
	opacity: .25;
}
.character-buttons{
	border: 2px solid white;
}
.user-greeting{
	font-size: 18px;
}
#rightNavButtons{
	width: 500px;
}
.alert-link{
	margin-left:30px;
}
.pageTitle{
	margin-top: 0px;
}
.contentArea{
	background-color: #CECCCC;
	border-radius: 10px;
	overflow: auto;
}
.panel-heading{
	font-size: 25px;
}
tr :hover{
	cursor:pointer;
}
.title-row{
	height: 87px;
}
.feedback{
	height: 20px;
	color: white;
}
.char-pic{
	height: 40px;
	width: 40px;
}
.charItem{
	margin-right: 5px;
}
.charPic{
	height: 250px;
	width: 250px;
	margin-left: 150px;
}
.show{
	opacity: 1;
	color: white;
}
.darkened{
	color: #8E8E8E
}
.darker{
	color: 
}
.glow{
	border: 1px solid white;
	border-radius: 7px;
	box-shadow: 10px 0 30px 1px #49628a;
}
.errors {
	margin-top: 10px;
	color: red;
}
.errors p{
	margin-bottom: 0px;
}
