h1 {
	font-size: 55px;
	color:white;
}
.navbar-brand{
	font-family: 'Arvo', serif;
}
.btn-blend{
	background-color: #F8F8F8;
	border-color: #F8F8F8;
	color:#777;
}
.btn-large{
	width: 200px;
	color:black;
}
body{
	background-color:#333333
}
.button-wrapper{
	height: 200px;
	margin-top: 20px;
	
	
}
.action-button{
	height: 150px;
	border-radius: 7px;
	font-size: 23px;
}

.action-button :hover{
	opacity: .25;
}
.character-buttons{
	border: 2px solid white;
}
.user-greeting{
	font-size: 18px;
}
#rightNavButtons{
	width: 500px;
}
.alert-link{
	margin-left:30px;
}
.pageTitle{
	margin-top: 0px;
}
.contentArea{
	background-color: #CECCCC;
	border-radius: 10px;
	overflow: auto;
}
.panel-heading{
	font-size: 25px;
}
tr :hover{
	cursor:pointer;
}

