h1 {
	font-size: 55px;
	color:white;
}
.navbar-brand{
	font-family: 'Arvo', serif;
}
.btn-blend{
	background-color: #101010;
	border-color: #101010;
	color:#777;
}
.btn-large{
	width: 200px;
	color:black;
}
body{
	background-color:#333333
}
